{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}Sign Up for Alert Alligator{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2 class="form-register-title">Sign Up for Alert Alligator</h2>
        <form class="form-register" method="POST" action="/"></form>  
            {{ form.hidden_tag() }}
            <div class=form-group>
                <label for="name">Your Name</label>
                {{ wtf.form_field(form.name) }}
            </div>
            <div class=form-group>
                <label for="email">Email</label>
                {{ wtf.form_field(form.email) }}
            </div>
            <div class=form-group>
                <label for="zipcode">Zipcode</label>
                {{ wtf.form_field(form.zipcode) }}
            </div>   
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}